<div class="col-md-6">
  <h2> User Details</h2>
  
  <table class="table table-bordered table-hover ">
    <thead class="thead table-info">
    <tr>
      <th class="hidden">Id</th>
      <th>Họ Tên</th>
      <th>Địa chỉ</th>
      <th>Chức vụ</th>
      <th>Action</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let user of users;let i=index">
      <td class="hidden">{{i+1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>

  </div>
  <div class="list-group">

    <a (click)="downloadFilePdf('pdf')">Download PDF</a><br/>

    <a (click)="downloadFileExcel('xlsx')">Download Excel</a><br/>
</div>